@page
@model TMS.WebUI.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="breadcrumbs">
    <a asp-controller="Home" asp-action="Index">Home</a> >
    <span>Issues</span>
</div>

<h1>Issues</h1>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Assignee</th>
        <th>Reporter</th>
        <th>Priority</th>
        <th>Status</th>
    </tr>
    @if (Model.AssignedIssues != null && Model.AssignedIssues.Count() > 0)
    {
        <tr><td class="font-weight-bold text-center" colspan="5">Task assigned to me:</td></tr>
        foreach (var item in Model.AssignedIssues)
        {
            <tr>
                <td><a asp-controller="issue" asp-action="detailed" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.AssigneeName</td>
                <td>@item.ReporterName</td>
                <td class="task-priority-@item.PriorityName">@item.PriorityName</td>
                <td class="task-status-@item.StatusName">@item.StatusName</td>
            </tr>
        }
    }
    @if (Model.ReportedIssues != null && Model.ReportedIssues.Count() > 0)
    {
        <tr><td class="font-weight-bold text-center" colspan="5">Task reported by me:</td></tr>
        foreach (var item in Model.ReportedIssues)
        {
            <tr>
                <td><a asp-controller="issue" asp-action="detailed" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.AssigneeName</td>
                <td>@item.ReporterName</td>
                <td class="task-priority-@item.PriorityName">@item.PriorityName</td>
                <td class="task-status-@item.StatusName">@item.StatusName</td>
            </tr>
        }
    }
    @if (Model.OtherIssues != null && Model.OtherIssues.Count() > 0)
    {
        <tr><td class="font-weight-bold text-center" colspan="5">Other tasks:</td></tr>
        foreach (var item in Model.OtherIssues)
        {
            <tr>
                <td><a asp-controller="issue" asp-action="detailed" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.AssigneeName</td>
                <td>@item.ReporterName</td>
                <td class="task-priority-@item.PriorityName">@item.PriorityName</td>
                <td class="task-status-@item.StatusName">@item.StatusName</td>
            </tr>
        }
    }
</table>
<a class="btn task-add noselect" asp-controller="Issue" asp-action="Create">New issue</a>
