@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using TMS.Models;
@model TMS.Models.QTask
@{
    int? id = Model?.Id;
    string title = (id == null) ? "Task" : $"Task#{id.ToString()}";
    ViewData["Title"] = title;
    Layout = "_Layout";
}

<div class="breadcrumbs">
    <a asp-controller="home" asp-action="index">Home</a> >
    <a asp-controller="tasks" asp-action="index">Tasks</a> >
    <span>Task details</span>
</div>

<h1>@title</h1>

@if (id != null)
{
    <div>Task details</div>
    <table class="table">
        <tr><td>Title</td><td>Description</td><td>Priority</td><td>Status</td></tr>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Description</td>
            <td>@Model.Priority</td>
            <td>@Model.Status</td>
        </tr>
    </table>
    <a class="btn task-add noselect" asp-controller="tasks" asp-action="edit" asp-route-id="@Model.Id">Edit</a>
}