@model TMS.ViewModels.TaskEditModelHybrid
@{
    ViewData["Title"] = "Edit task";
    Layout = "_Layout";
}
<div class="breadcrumbs">
    <a asp-controller="home" asp-action="index">Home</a> >
    <a asp-controller="tasks" asp-action="index">Tasks</a> >
    <span>@Model.Task.Name [Edit mode]</span>
</div>
<h1>@Model.Task.Name</h1>
<form asp-controller="tasks" asp-action="edit" method="post">
    @if (ViewBag.IsAdmin || ViewBag.IsReporter)
    {
        <div>
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" value="@Model.Task.Name"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" value="@Model.Task.Description" />
        </div>
        <div>
            <label asp-for="AssigneeId" class="control-label"></label>
            <select asp-for="AssigneeId" asp-items="@Model.AssigneeList"></select>
        </div>
        @if (ViewBag.IsAdmin)
        {
            <div>
                <label asp-for="ReporterId" class="control-label"></label>
                <select asp-for="ReporterId" asp-items="@Model.ReporterList"></select>
            </div>
        }
        <div>
            <label asp-for="Priority" class="control-label"></label>
            <select asp-for="Priority" asp-items="@Model.PriorityList"></select>
        </div>
    }
    <div>
        <label asp-for="Status" class="control-label"></label>
        <select asp-for="Status" asp-items="@Model.StatusList"></select>
    </div>
    <input type="hidden" asp-for="TaskId" value="@Model.Task.Id" />
    <input class="btn" type="submit" value="Update" />
</form>
@if (ViewBag.IsAdmin || ViewBag.IsReporter)
{
    <form asp-controller="tasks" asp-action="delete" method="post">
        <input type="hidden" asp-for="TaskId" value="@Model.Task.Id" />
        <input class="btn" type="submit" value="Remove" />
    </form>
}