@model TMS.ViewModels.TaskIndexModel;
@{
    ViewData["Title"] = "Tasks";
    Layout = "_Layout";
}

<div class="breadcrumbs">
    <a asp-controller="home" asp-action="index">Home</a> >
    <span>Tasks</span>
</div>

<h1>Tasks</h1>

<table class="table">
    <tr><th><a asp-action="Index" asp-route-sortOrder="@Model.NameSort">Title</a></th><th>Assignee</th><th>Reporter</th><th><a asp-action="Index" asp-route-sortOrder="@Model.PrioritySort">Priority</a></th><th><a asp-action="Index" asp-route-sortOrder="@Model.StatusSort">Status</a></th></tr>
    @if (Model.AssigneeTaskList != null &&Model.AssigneeTaskList.Count() > 0)
    {
        <tr><td class="font-weight-bold text-center" colspan="5">Task assigned to me:</td></tr>
        foreach (var item in Model.AssigneeTaskList)
        {
            <tr>
                <td><a asp-controller="tasks" asp-action="detailed" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.Assignee.FullName</td>
                <td>@item.Reporter.FullName</td>
                <td class="task-priority-@item.Priority">@item.Priority</td>
                <td class="task-status-@item.Status">@item.Status</td>
            </tr>
        }
    }
    @if (Model.AssigneeTaskList != null &&Model.ReporterTaskList.Count() > 0)
    {
        <tr><td class="font-weight-bold text-center" colspan="5">Task reported by me:</td></tr>
        foreach (var item in Model.ReporterTaskList)
        {
            <tr>
                <td><a asp-controller="tasks" asp-action="detailed" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.Assignee.FullName</td>
                <td>@item.Reporter.FullName</td>
                <td class="task-priority-@item.Priority">@item.Priority</td>
                <td class="task-status-@item.Status">@item.Status</td>
            </tr>
        }
    }
    @if (Model.OtherTaskList != null && Model.OtherTaskList.Count() > 0)
    {
        <tr><td class="font-weight-bold text-center" colspan="5">Other tasks:</td></tr>
        foreach (var item in Model.OtherTaskList)
        {
            <tr>
                <td><a asp-controller="tasks" asp-action="detailed" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.Assignee.FullName</td>
                <td>@item.Reporter.FullName</td>
                <td class="task-priority-@item.Priority">@item.Priority</td>
                <td class="task-status-@item.Status">@item.Status</td>
            </tr>
        }
    }
</table>
<a class="btn task-add noselect" asp-controller="tasks" asp-action="add">New task</a>